{{!-- <h1> My awesome Friend Filter</h1> --}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
</head>
<body>
    <div class="background_wrapper">
        <div class="background_container">
            <div class="form_wrapper">
                <div class="form">
                <input type="text" class="input_name" placeholder="Имя">
                <input type="text" class="input_comment" placeholder="Комментарий">
                <button class="button__add">
                   <p class="button__text"> Отправить </p> 
                </button>
                </div>
            </div>
            <div class="comments_block" >
                <ul class="comments_list">
                    {{!-- <li class="comment">
                        <div class="left">
                            <img src="./IMG/usuario.jpeg" class="avatar_img">
                        </div>
                        <div class="center">
                            <div class="top">
                                <p class="name"> Иван </p>
                                   <p class="date"> 25.10.1995 </p>    
                            </div>
                            <div class="bottom">
                                <p class="comment">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, nemo quo debitis ab dolor iure praesentium! Quae ut accusantium, impedit cum excepturi, quas ullam voluptatem ex pariatur assumenda error distinctio.
                                </p>
                            </div>
                        </div>
                        <div class="right">
                                <img src="./IMG/remove.png" class="remove__button-img">
                        </div>
                    </li> --}}
                </ul>
            </div>
            <button class="button-save">  
                <p class="button__text"> Сохранить </p> 
            </button>
        </div>
    </div>
</body>
</html>

