
  <li class="info__block">
        <div class="info__block--left">
            <img src="../../IMG/usuario.jpeg" class="image">
        </div>
        <div class="info__block--right">
            <div class="info__block--right--top">
                <p> Alex</p>
            </div>
            <div class="info__block--right--bottom">
                <p> Syrtsov</p>
            </div>
        </div>
    </li>  


