    {{#each commentators}}
        <li class="commentator">
            <img src='../../IMG/Layer 3.png' class="avatar_img">
            <div>{{first_name}} {{date}}</div>
            <div class="comment_elem">
                {{comment}}
            </div>
                <div class="remove_rewiew"> 
                    <img src="../../IMG/remove.png">
                </div>
        </li>
    {{/each}}