{{each }}
<div class="baloon__header">
            <div class="adres">
            </div>
            <div class="button__clear">
                <img src="./IMG/remove.png" class="button__image--clear">
            </div>
        </div>
        <div class="baloon__content">
            <div class="rewiews__block">
                <ul class="rewiews__block--list">
                    <li class="title">
                        {{}}
                    </li>
                </ul>
                <div class="rewiews__inputs">
                    <div class="rewiews__inputs--title">
                        Ваш отзыв
                    </div>
                    <div class="rewiewe__inputs--top">
                        <input type="text" class="name-input" placeholder="Ваше имя">
                        <input type="text" class="place-input" placeholder="Укажите место">
                    </div>
                    <textarea class="comment-input" placeholder="Поделитесь впечатлениями"></textarea>    
                </div>
            </div>  
        </div>
        <div class="baloon__footer">
            <button class="add"> Добавить </button>
        </div>