.slider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__block--center{
    height: 475px;
    /* border: 1px solid;  */
}

.slider__block--center--top{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    /* overflow: scroll;
    overflow-x: hidden; */
}

.slider__block--center--bottom{

}

.slider__block--left{
    width: 10%;
}

.slider__img--left{
    width: 50%;
}

.slider__block--right{
    width: 10%;
}

.slider__img--right{
    transform: rotate(180deg);
    width: 50%;
}

.slider__block--center--top__list{
    
}

.slider__block--center--bottom__list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;;
}

.image{
    width: 150px;
    height: 150px;
}

.hidden{
    display: none;
}

.button__list--elem {
    width: 65px;
    height: 25px;
    margin: 5px;
    display: inline-block;
    /* background-color: black; */
    border-radius: 10%;
    border: 1px solid black;
}
.elem__list--bottom{
    margin-left: 10%;
    margin-bottom: 4%;
    border: 1px solid black;
} 
.info__block{
    display: flex;
}
.friend {
    display: flex;
    margin-bottom: 5%;
}
.avatar_img{
    border-radius: 50%;
}
.input{
    list-style: none;
}