#map {
    width: 1912px;
    height: 1070px;
}

.baloon{
    width: 380px;
    height: 527px;
    background: #ffff;
    display: flex;
    flex-direction: column;
    display: none;
    z-index: 1000;
    position: absolute;
    border-radius: 1rem 1rem 1rem 1rem;
}
.adres{
    font-size: 10px;
    width: 80%;
    color:white;
}
.baloon__header{
    background-color:#ff8663;
    justify-content: space-around;
    display: flex;
    height:44px;
    border-radius: 1rem 1rem 0 0;
    align-items: center;
}
.rewiews__block{
    height: 425px;
    
}
.rewiews__block--list{
    padding: 0;
    margin: 0;
    height: 155px;
    margin-left: 4%;
    margin-top: 4%;
}
.title{
    margin: 0;
    list-style: none;
}
.name-input{
    border-radius: 20px;
    outline: none;
    border: 1px solid #c4c4c4;
    height: 33px;
    margin-bottom: 16px;
}
.place-input{
    border-radius: 20px;
    outline: none;
    border: 1px solid #c4c4c4;
    height: 33px;
    margin-bottom: 16px;
}
.comment-input{
    width: 89%;
    height: 100px;
    resize: none;
    border-radius: 20px;
    outline: none;
    margin-bottom: 16px;
}
.add{
    width: 20%;
    height: 25px;
    border: none;
    background: #ff8663;
    outline: none;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.baloon__footer{
    display: flex;
    justify-content: flex-end;
    
    margin-right: 5%;
}
.rewiews__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rewiews__inputs--title{
    margin-bottom: 16px;    
}
.rewiewe__inputs--top{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.address__marker{
    height: 38%;
    width: 2.5%;
}
.review__list{
    list-style: none;
    height: 135px;
    overflow: auto;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    /* width:12px; */
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color:#ff8663;
    background-color: #ff8663;
}