.background_wrapper{
    background-color: #ffffff;
    justify-content: center;
    display: flex;
    height: 100%;
}
.background_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin-top: 3%;

}
.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input_name{
    width: 45%;
    height: 30px;
}
.input_comment{
    width: 45%;
    height: 30px;
}
.button__add{

}
.comments_block{
    border: 1px solid black;
    height: 700px;
}
.comments_list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.center {
    width: 100%;
}
.comment{
    margin: 0;
}
.form_wrapper {
    height: 10%;
}
.rewiewer{
    display: flex;
    flex-direction: row;
}
.avatar_img{
    width: 100px;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.remove__button{
    width: 130%;
}